*{
margin: 0;
padding: 0;
}

h1,
h2{
margin: 20px;
}

a{
color: whitesmoke;
text-decoration: none;
}

body{
position: relative;
font-family: "goudy bookletter 1911", sans-serif;
font-size: 20px;
background-color: #fdf8f5;
color: #4F4846    
}

header{
height: 80px;
width: 100%;
border-bottom: 20px solid navajowhite;
background-color: darkgreen;

}

ul{
text-align: right;   
word-spacing: 50px;
margin-right: 20px;
line-height: 2;


}

li{
display: inline;
list-style-type: none;
font-size: 30px;    
color: white;

}


div{
display: grid;
place-items: center;
margin-bottom: 40px;

}

figcaption{
text-align: center;
line-height: 10;
}

footer{
position: relative;
text-align: center;
color: white;
background-color: darkgreen;
bottom: 0;
border-bottom: 10px solid #4f4846;
margin-top: 0;
height: 60px;
width: 100%;
line-height: 60px;



}

h2{
text-align: center;
font-size: 35px;
}

section{
text-align: center;
display:block;
background-color: navajowhite;
height: 400px;
}

.text-center{
    text-align: center;
}

.text-right{
text-align: right;
}

button{
    height:40px;
    width: 120px;
    background-color: #4F4846;
    color: #FDF8F5;
}

input,
textarea{
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
}

textarea{
    vertical-align: top;
    height: 60px;
}

label{
display:inline-block;
width:100px;
}

form{
    margin: 0 auto;
    width: 500px;
    padding: 40px;
    border: 5px solid #DDAF94;
    border-radius: 20px;
}